@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

#app {
  width: 100%;
  height: 100vh;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: theme('size.2');
  height: theme('size.2');
}

/* Track */
::-webkit-scrollbar-track {
  background: theme('colors.stone.900');
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme('colors.stone.400');
  border-radius: theme('borderRadius.md');
}

::-webkit-scrollbar-corner {
  background: theme('colors.stone.900');
  border-radius: 0 0 theme('borderRadius.md') 0;
}

/* Tooltips */
[data-tooltip] {
  position: relative;
}

[data-tooltip] > .tooltip-content {
  visibility: hidden;
  background-color: theme('colors.inherit');
  min-width: 125px;
  color: inherit;
  text-align: center;
  border-radius: theme('borderRadius.md');
  padding: 0.25rem 0.5rem;

  position: absolute;
  z-index: 1;

  top: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
}

[data-tooltip]:hover > .tooltip-content,
[data-tooltip]:focus-visible > .tooltip-content {
  visibility: visible;
}

/* Animations */
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.25s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-leave-active {
  position: absolute;
  width: 100%;
}

/* Print mode */
@media print {
  :root {
    color-scheme: light;
  }
}

/* Animations */
.slide-anim-enter-active,
.slide-anim-leave-active {
  transition: all 250ms ease-in-out;
  transform: translateY(0);
}

.slide-anim-enter-from,
.slide-anim-leave-to {
  transform: translateY(100%);
}
